{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" type="text/css"/>

{% endblock %}


{% block body %}
	<header class="container-fluid">
		<img class="header__img" src="{{ asset('assets/images/logo_uba_azul.png') }}" alt="Logo Universidad de Buenos Aires"/>
	</header>

	<main>
		<section class="section__hero container-fluid">
			<div class="container-fluid">
				<div
					class="row">
					<!-- Titulo -->
					<div class="col col-lg-4">
						<h1 class="section__hero__h1 ms-md-1">mapa académico</h1>
					</div>
					<!-- Info Carreras -->
					<div class="section__info col">
						<div class="row align-items-center">
							<div class="col-6 col-md-8">
								<img class="hero__img__carrera float-end" src="{{ asset('assets/images/icon-carrera.svg') }}" alt="Icono Carreras"/>
							</div>
							<div class="col-6 col-md-4">
								<p class="p__number">100+</p>
								<p class="p__text">Carreras</p>
							</div>
						</div>
						<!-- Info Facultades -->
						<div class="row align-items-center mt-2 mt-md-4">
							<div class="col-6 col-md-8">
								<img class="hero__img__facultades float-end" src="{{ asset('assets/images/Icon-facultades.svg') }}" alt="Icono Carreras"/>
							</div>
							<div class="col-6 col-md-4">
								<p class="p__number">13</p>
								<p class="p__text">Facultades</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section__datatable">
			<div class="row">
				<div class="col">
					<div class="row">
						<button class="btn__download btn">Descargar búsqueda EXCEL</button>
					</div>
					<div class="row">
						<button class="btn__download btn__download-pdf btn  mt-2">Descargar búsqueda PDF</button>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<table id="example" class="display table table-hover" style="width: 100%">
						<thead>
							<tr>
								<th>Actividad Curricular</th>
								<th>Carácter</th>
								<th>Contenidos mínimos de la actividad curricular</th>
								<th>Área</th>
								<th>Campo</th>
								<th>Carrera</th>
								<th>Unidad Académica</th>
							</tr>
						</thead>
						<tbody>
							{% for oferta_academica in ofertas_academicas %}
								<tr>
									<td>{{oferta_academica.actividad.actividadCurricular}}</td>
									<td>{{oferta_academica.caracter}}</td>
									<td>{{oferta_academica.contenidosMinimos}}</td>
									<td>{{oferta_academica.area.area}}</td>
									<td>{{oferta_academica.campo.campo}}</td>
									<td>{{oferta_academica.carrera.carrera}}</td>
									<td>{{oferta_academica.unidad.unidadAcademica}}</td>

								</tr>
							{% endfor %}
						</tbody>
						<tfoot>
							<tr>
								<th>Actividad Curricular</th>
								<th>Carácter</th>
								<th>Contenidos mínimos de la actividad curricular</th>
								<th>Área</th>
								<th>Campo</th>
								<th>Carrera</th>
								<th>Unidad Académica</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</section>
	</main>
{% endblock %}
