<!DOCTYPE html>
<html lang="es">

	<head>

		<meta charset="utf-8"/>

		<title>
			{% block title %}
				Mapa Académico
			{% endblock %}
		</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta content="Mapa Académico" name="description"/>
		<meta content="Universidad de Buenos Aires" name="author"/>

		{% block stylesheets %}
			<!-- Favicon -->
			<link
			rel="shortcut icon" href="{{ asset('assets/images/logo_uba_negro_cuadrado.png') }}">
			<!-- Bootstrap css -->
			<link
			href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>

			<!-- datatables css -->
			<!--<link
			rel="stylesheet" href="{{ asset('assets/css/datatables.min.css') }}" type="text/css"/>-->
			<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.css">
			 <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
   		    <link rel="" href="https://cdn.datatables.net/fixedheader/3.1.6/css/fixedHeader.dataTables.min.css">
			<!-- Custom Css-->
			{% if files_css is defined %}

				{% for file_css in files_css %}
					<link href="{{ asset('assets/css/'~ file_css) }}" rel="stylesheet" type="text/css"/>
				{% endfor %}

			{% endif %}

		{% endblock %}
	</head>

	<body>
		{% block body %}{% endblock %}

		{% block javascripts %}

			<!-- JAVASCRIPT -->
			<script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
			<script src="{{ asset('assets/js/pdfmake.min.js') }}"></script>
			<script src="{{ asset('assets/js/vfs_fonts.min.js') }}"></script>
			<script src="{{ asset('assets/js/datatables.min.js') }}"></script>			
			<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.js"></script>
			<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
			<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
			<script src="https://cdn.datatables.net/fixedheader/3.1.6/js/dataTables.fixedHeader.min.js"></script> 
			{# custom js #}
			{% if files_js is defined %}

				{% for file_js in files_js %}
					<script src="{{ asset('assets/js/'~ file_js) }}"></script>
				{% endfor %}

			{% endif %}

			{# <script src="{{ asset('assets/js/.js') }}"></script> #}

		{% endblock %}

	</body>

</html>
