{% extends 'Secure/secure.index.html.twig' %}

{% block content %}
	<div class="row">
		<div class="col">
			<h1>Mapa académico</h1>
		</div>
	</div>
	<div class="row mt-5">
		<div class="col text-end">
			<a href="{{ path('new_contenidos_minimos') }}" class="btn btn-uba">
				<i class="bi bi-plus"></i>
				Agregar contenido</a>
		</div>
	</div>
	<div class="row mt-5">
		<div class="col">
			<table id="example" class="display table table-hover" style="width: 100%">
				<thead>
					<tr>
						<th>Id</th>
						<th>Actividad Curricular</th>
						<th>Carácter</th>
						<th>Contenidos mínimos de la actividad curricular</th>
						<th>Área</th>
						<th>Campo</th>
						<th>Carrera</th>
						<th>Unidad Académica</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for oferta_academica in ofertas_academicas %}
						<tr>
							<td>{{oferta_academica.id}}</td>
							<td>{{oferta_academica.actividad.actividadCurricular}}</td>
							<td>{{oferta_academica.caracter}}</td>
							<td>{{oferta_academica.contenidosMinimos}}</td>
							<td>{{oferta_academica.area.area}}</td>
							<td>{{oferta_academica.campo.campo}}</td>
							<td>{{oferta_academica.carrera.carrera}}</td>
							<td>{{oferta_academica.unidad.unidadAcademica}}</td>
							<td class="no-sort">
								<a href="{{ path('edit_contenidos_minimos', {'id': oferta_academica.id}) }}" class="text-warning" title="Editar">
									<i class="bi bi-pencil-square"></i>
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<th>Actividad Curricular</th>
						<th>Carácter</th>
						<th>Contenidos mínimos de la actividad curricular</th>
						<th>Área</th>
						<th>Campo</th>
						<th>Carrera</th>
						<th>Unidad Académica</th>
					</tr>
				</tfoot>
			</table>


		</div>
	</div>

{% endblock %}
